# Ignore all folders named 'data'
dataset/
.vscode/
__pycache__/
subset_table.tsv
subset_table_phylum.tsv
subset_table_class.tsv
subset_table_order.tsv
subset_table_family.tsv
subset_table_genus.tsv
subset_table_species.tsv
subset_tables/
help/
*.rds
